{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extra_head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}

<!------ Include the above in your HEAD tag ---------->
{% get_providers as socialaccount_providers %}

<header>
    <div class="container">
	<div class="row">
		<div class="col-sm-6">
			
    </div>
    
		<div class="col-sm-6 hidden-xs">
			<div class="row">        
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}   
      
          <div class="col-sm-5">
              <div class="form-group">
                {{ form.login }}                             
              </div>
          </div>	
          <div class="col-sm-5">
            <div class="form-group">
                {{form.password}}
                <a class="login-bottom-text hidden-sm" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                
            </div>
          </div>
         
          <div class="col-sm-2">
            <div class="form-group">
                <button class="btn btn-default btn-header-login" type="submit">{% trans "Sign In" %}</button>
                <!-- <input type="button" value="login" class="btn btn-default btn-header-login"> -->
              </div>
          </div>
        </form>
			</div>	
		</div>
	</div>
	</div>
</header>
<article class="container">
		<div class="row">
			<div class="col-sm-8">
				
			</div>
			<div class="col-sm-4">
				<div class="">
				
				<h3>If you dont have an account:</h3>
          <hr>
          <div class="form-group">
            <!-- <label class="control-label" for="">Username</label> -->
            <a href="{% url 'account_signup_user' %}"><input type="button" class="form-control" value="Register now" placeholder="Username"></a>
          </div>
			
			</div>
			</div>
		</div>
</article>


{% endblock %}
