{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}

<header>
  <div class="container">
<div class="row">
  <div class="col-sm-6">
    
  </div>
  
  <div class="col-sm-6 hidden-xs">
    <div class="row">       
      s
      <div class="col-sm-5">
        <div class="form-group">
          
        </div>
      </div>
    </div>	
  </div>
</div>
</div>
</header>

<article class="container">
  <div class="row">
    <div class="col-sm-8">      
    </div>
    <div class="col-sm-4">
        <div class="">
          
          <h3><i class="fa fa-shield"></i> Register</h3>
          <hr>
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">

            {% csrf_token %}
            {{form}}
            {{profile_form}}
          <div style="height:10px;"></div>
          <div class="form-group">
            <label class="control-label" for=""></label>
            <input type="submit" class="btn btn-primary">
          </div>	 
        </form>
          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          
        </div>
    </div>
  </div>
</article>
{% endblock %}
