{% extends 'base.html' %}
{% load template_tags %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
            <div class="p-3 bg-white text-center">
                <div>
                    <h1>Followers</h1>
                </div>
                <br />
                <br />
                
                {% for user in profile.followers.all %}   
                
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        {% if user.user.profile_pic %}
                        <img class="rounded-circle" src="{{ user.user.profile_pic.url }}" width="55">
                        {% else %}
                        <img class="rounded-circle" src="{% static 'images/user.jpg' %}" width="55">                        
                        {% endif %}
                        
                        <div class="d-flex flex-column align-items-start ml-2"><span class="font-weight-bold"><a href="{{ user.user.get_absolute_url }}">{{ user }}</a></span><span class="followers">{{user.followers.count}} Followers</span></div>
                    </div>                     

                        <div class="d-flex flex-row align-items-center mt-2">      
                            {% if user.user in following.following.all %}
                            <a href="{% url 'follow:follower_to' username=profile.user.username follow=user.user %}">
                            <button class="btn btn-outline-primary btn-sm" type="button">
                                Following
                            </button>
                            </a>  
                            {% else %}
                            <a href="{% url 'follow:follower_to' username=profile.user.username follow=user.user %}">
                                <button class="btn btn-primary btn-sm" type="button">
                                    Follow
                                </button>
                                </a> 
                            {% endif %}                       
                        </div>                                       
                </div>        
                <br />
                {% endfor %}
                
                
                
            </div>
        </div>
    </div>
</div>

{% endblock %}