<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% load static %}

{% load template_tags %}
{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
            <div class="p-3 bg-white text-center">
                <div>
                    <h1>Followers</h1>
                </div>
                <br />
                <br />
                
                {% for follower in followers.followers.all %}  
              
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">
                         
                        {% if follower.user.profile.profile_pic %}
                        <img class="rounded-circle" src="{{ follower.user.profile.profile_pic.url }}" width="55">
                        {% else %}
                        <img class="rounded-circle" src="{% static 'img/user.png' %}" width="55">                        
                        {% endif %}
                        
                        <div class="d-flex flex-column align-items-start ml-2"><span class="font-weight-bold"><a href="{{ follower.user.profile.get_absolute_url }}">{{ follower }}</a>
                        </span><span class="followers">{{follower.user|get_follower_total}} Followers</span></div>
                    </div>                     
                       
                        <div class="d-flex flex-row align-items-center mt-2">      
                            {% if follower in following.following.all %}
                            
                                <a href="{% url 'follow:follower_to' username=user.username follow=follower.user.profile.user %}">
                                <button class="btn btn-outline-primary btn-sm" type="button">
                                    Following
                                </button>
                                </a>  
                                {% if user.username|is_equal:profile.user.username %}
                                    {% if follower in blockusers.blocked.all %}
                                        <a href="{% url 'follow:block' block_user=follower.user %}">
                                            <button class="btn btn-success btn-sm" style="margin: 10px;" type="button">
                                                Unlock User
                                            </button>
                                        </a>

                                        {% else %}

                                        <a href="{% url 'follow:block' block_user=follower.user %}">
                                            <button class="btn btn-danger btn-sm" style="margin: 10px;" type="button">
                                                Block User
                                            </button>
                                        </a>
                                    {% endif %}
                                    
                                {% endif %}

                            {% else %}
                             
                                <a href="{% url 'follow:follower_to' username=user.username follow=follower.user.profile.user %}">
                                    <button class="btn btn-primary btn-sm" style="margin: 10px;" type="button">
                                        Follow
                                    </button>
                                </a> 
                                {% if user.username|is_equal:profile.user.username %}
                                    {% if follower in blockusers.blocked.all %}
                                        <a href="{% url 'follow:block' block_user=follower.user %}">
                                            <button class="btn btn-success btn-sm" style="margin: 10px;" type="button">
                                                Unlock User
                                            </button>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'follow:block' block_user=follower.user %}">
                                            <button class="btn btn-danger btn-sm" style="margin: 10px;" type="button">
                                                Block User
                                            </button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}                       
                        </div>                                       
                </div>        
                <br />
                {% endfor %}
                
                
                
            </div>
        </div>
    </div>
</div>

{% endblock %}