{% load static %}
{% block extra_head %}
<script>
    let Icons = document.querySelectorAll('.fa')
    let current = 0;
    function selectIcon(index) {
    Icons[current].classList.remove('active');
    current=index;
    Icons[current].classList.add('active');
    }
</script>

<!-- <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> -->
{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
         
      </ul>
      <div class="social-part">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
{% endblock %}